.header {
    color: black;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
}

.header-div {
    width: 900px;
    height: 0px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    background-image: url('https://plus.unsplash.com/premium_photo-1666432045848-3fdbb2c74531?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100vw 100vh;
    animation: backgroundImage 20s infinite;
    width: 100vw;
    height: 100vh;
}
  
  @keyframes backgroundImage {
    0% {background-image: url('https://plus.unsplash.com/premium_photo-1666432045848-3fdbb2c74531?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');}
    25% {background-image: url('https://images.unsplash.com/photo-1532778039000-9c5c9d4130c5?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');}
    50% {background-image: url('https://plus.unsplash.com/premium_photo-1680339680335-7e3b8572fc00?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');}
    75% {background-image: url('https://images.unsplash.com/photo-1503125210483-8b1d12bccdbe?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');}
    100% {background-image: url('https://plus.unsplash.com/premium_photo-1666432045848-3fdbb2c74531?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');}
}

.desc-image{
    width: 500px;
    height: 500px;
    display: block;
}

.essay {
    margin-top : -28px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 8px;
    color: black;
    backdrop-filter: blur(4px);
}